.cardBackground {
    background-color: rgba(253, 154, 5, 0.76);
    color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    width: 350px;
    height: 450px;
}

.cardBackground:hover .cardImage{
    transition: all 200ms;
    border-radius: 40px;
    filter: grayscale(0);
    transform: (1.05);
}

.cardImage{
    border-radius: 999px;
    transition: all 200ms ease-in-out;
    filter: grayscale(1);
    width: 210px;
    height: auto;
    overflow: hidden;
}

.cardBackground:hover .cardImage{
    box-shadow: rgba(255, 0, 0, 0.63) 5px 5px, rgba(0, 0, 255, 0.438) 10px 10px, rgba(0, 255, 0, 0.37) 15px 15px, rgba(255, 255, 255, 0.356) 20px 20px, rgba(100, 100, 100, 0.459) 25px 25px;
}

.cardTitle{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 3px 20px #ff0000;
    width: 90%;
    text-align: center;
}

.cardText{
    width: 90%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 22px;

}