
*{padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/Mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

input{
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  width: 50%;
  border-radius: 10px;
  border: 2px solid #0026ff;
}



@media (width >= 768px){
  body{
    background-image: url('DesktopWb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
  }input{
    width: 300px;
    font-size: 18px;
  }
}
